<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>brick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick7.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>brick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>legend_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{320,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,75}}</string>
                <key>sourceSize</key>
                <string>{320,75}</string>
            </dict>
            <key>paddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,484},{65,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,15}}</string>
                <key>sourceSize</key>
                <string>{65,15}</string>
            </dict>
            <key>paddle_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,484},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>paddle_wide.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,484},{130,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,15}}</string>
                <key>sourceSize</key>
                <string>{130,15}</string>
            </dict>
            <key>powerup_contract.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>powerup_expand.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>powerup_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bricksheet.png</string>
            <key>size</key>
            <string>{473,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:317294d005bb4d42c4599454db6cca33$</string>
            <key>textureFileName</key>
            <string>bricksheet.png</string>
        </dict>
    </dict>
</plist>
