<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{257,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,263}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
            <key>lightbulb.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,84},{136,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,246}}</string>
                <key>sourceSize</key>
                <string>{136,246}</string>
            </dict>
            <key>rightarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,80}}</string>
                <key>sourceSize</key>
                <string>{622,80}</string>
            </dict>
            <key>whitespeck.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,332},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cyclesheet-ipadhd.png</string>
            <key>size</key>
            <string>{626,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c1ebd868211ae1f3159a58e47bc52a$</string>
            <key>textureFileName</key>
            <string>cyclesheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
