<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,44},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>snakebody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>snakehead.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,44},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snakesheet.png</string>
            <key>size</key>
            <string>{63,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73106329d67482beff3b1471feec485$</string>
            <key>textureFileName</key>
            <string>snakesheet.png</string>
        </dict>
    </dict>
</plist>
