<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>snakebody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>snakehead.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,84},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snakesheet-hd.png</string>
            <key>size</key>
            <string>{127,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425eff88b1bd4fc8cfac8efce4d26ecc$</string>
            <key>textureFileName</key>
            <string>snakesheet-hd.png</string>
        </dict>
    </dict>
</plist>
