<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,396},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>ground1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,42},{320,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,82}}</string>
                <key>sourceSize</key>
                <string>{320,82}</string>
            </dict>
            <key>ground2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,4},{320,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,82}}</string>
                <key>sourceSize</key>
                <string>{320,82}</string>
            </dict>
            <key>penguin_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,396},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>penguin_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,396},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>penguin_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,330},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>pileBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{87,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>pileTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,368},{59,17}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{59,17}}</string>
                <key>sourceSize</key>
                <string>{89,19}</string>
            </dict>
            <key>skybox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,82}}</string>
                <key>sourceSize</key>
                <string>{320,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>molesheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90f6e0234d28dfe7f92d3944e4f098ce$</string>
            <key>textureFileName</key>
            <string>molesheet.png</string>
        </dict>
    </dict>
</plist>
